//base styles

//display properties
.hide {
    display: none;
}

body {
    font-size: 125%;
}
//wrapper
.wrapper {
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
}

input[type="number"]::-webkit-outer-spin-button, 
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
 
input[type="number"] {
    -moz-appearance: textfield;
}