//variables and mixins

//variables

//colors
$primary: #EC0F0F;
$secondary: #098E8E;
$accent: #98DC0E;
$black: #333;
$white: rgb(252, 238, 238);

//font-families
$headingFont: 'Bungee Inline', cursive;
$bodyFont: 'Open Sans', sans-serif;

