//variables and mixins

//variables

//colors
$primary: #FFAA3C;
$secondary: #064A6F;
$accent: #3AB795;
$black: #011627;
$white: #Eee;

// #FFAA3C

//font-families
$headingFont: 'Righteous', cursive;
$bodyFont: 'Oswald', sans-serif;

