//footer styles

footer {
  background-color: $black;
  color: $white;
  height: 30px;
  text-align: center;
  padding: 5px 0;

  .wrapper {
    display: flex;
    justify-content: space-between;
  }

  p {
    margin: 0;
    font-size: 1rem;
  }
}