//footer styles

footer {
  background-color: $black;
  color: $white;
  height: 30px;
  text-align: center;
  padding: 5px 0;

  @include bp(sm) {
    height: auto;
  }

  .wrapper {
    display: flex;
    justify-content: space-between;

    @include bp(sm) {
      flex-direction: column;
    }
  }

  p {
    margin: 0;
    font-size: 1rem;
    color: darken($white, 20%);

    @include bp(sm) {
      font-size: 0.8rem;
      font-weight: 400;
    }
  }
}