//header styles

header {
    background-image: url(../assets/headerPic.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
    .innerWrapper {
        width: 50%;

        @include bp(md) {
            width: 60%;
        }

        @include bp(sm) {
            width: 80%;
        }

        @include bp(xs) {
            width: 100%;
        }
    }
    
    .wrapper {
        height: 100vh;
    }
}

h1 {
    margin: 0 auto;
    padding-top: 60px;
    font-family: $headingFont;
    text-transform: uppercase;
    color: $secondary;
    font-size: 4rem;
    line-height: 1;

    @include bp(md) {
        font-size: 3.5rem;
    }

    @include bp(sm) {
        font-size: 3rem;
    }

    @include bp(xs) {
        text-align: center;
        font-size: 2.2rem;
    }
}

header h2 {
    font-family: $bodyFont;
    font-weight: 400;
    font-size: 2rem;

    @include bp(sm) {
        font-size: 1.6rem;
    }

    @include bp(xs) {
        text-align: center;
        font-size: 1.2rem;
    }
}

//form 
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;

    input[type=number] {
        background: $secondary;
        border: 5px solid $secondary;
        padding: 5px 0 5px;
        width: 160px;
        color: $white;
        text-align: center;

        &::placeholder {
            color: $white;
            letter-spacing: 3px;
        }

        &:focus {
            border: 5px solid $accent;
        }

        &:active {
            background-color: $black;
        }

        @include bp(xs) {
            width: 85%;
        }
    }

    label {
        font-size: 1.5rem;
    }

    input[type=submit] {
        margin-top: 10px;

        @include bp(xs) {
            width: 85%;
            margin: 10px auto;
        }
    }
}

//remove arrows in the input field
input[type="number"]::-webkit-outer-spin-button, 
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}


.formTop,
.formBottom {
    @include bp(xs) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 85%;
    }   
}

//warning message
.warning {
    position: relative;
    background: $black;
    color: $white;
    border-radius: .4em;
    padding: 5px;
    margin-bottom: 0;
}

.warning:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 65%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-bottom-color: $black;
    border-top: 0;
    margin-left: -20px;
    margin-top: -20px;
}
