header {
    background-image: url(../assets/headerPic.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
    section {
        border: 1px solid purple;
        width: 50%;
    }
    
    .wrapper {
        border: 1px solid green;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

h1 {
    margin-top: 0;
    font-size: 4rem;
    line-height: 1;
    // text-align: center;
}

h2 {
    // color: $primary;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    .formTop {
        padding-bottom: 2%;
    }
    input[type=number] {
        background: $accent;
        border: none;
        padding: 5px;
        width: 160px;
        &::placeholder {
            color: $white
        }
    }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}