//main styles

main {
  padding: 5px 0 10px;
  background-color: $secondary;
  height: calc(100vh - 30px);

  h2 {
    margin: 0 0 7px;
    text-align: center;
    color: $primary;
    font-size: 2.7rem;
    text-transform: uppercase;
  }
}

.movieContainer {
  display: flex;
}

.movieInfo {
  background: linear-gradient(to left, rgba($white, 0.3), rgba($white, 0.3));
  padding: 20px 35px;
  margin-bottom: 5px;

    h3 {
    margin: 0 0 20px;
    font-size: 2.2rem;
    line-height: 2rem;
  }

  p {
    margin: 0;
  }

  .voteAverage {
    margin-bottom: 20px;
  }

  .overview {
    margin-bottom: 10px;
    font-weight: 600;
  }
}

button {
  margin: 7px auto 0;
}