//main styles

main {
  padding-top: 50px;
  background-color: $secondary;

  h2 {
    text-align: center;
    color: $primary;
  }
}

.movieContainer {
  display: flex;
}

.movieInfo {
  background: linear-gradient(to left, rgba($white, 0.3), rgba($white, 0.3));
}

button {
  margin: 0 auto;
}