article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

.hide {
  display: none; }

body {
  font-size: 125%;
  font-family: "Oswald", sans-serif; }

.wrapper {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto; }

img {
  width: 290px; }

button,
input[type=submit] {
  border: none;
  border-radius: 5px;
  padding: 5px 40px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1.3px; }

input[type=submit] {
  border: 5px solid #064A6F;
  background: #064A6F;
  color: #EEE; }
  input[type=submit]:hover, input[type=submit]:focus {
    background-color: #011627;
    border: 5px solid #011627; }
  input[type=submit]:active {
    border: 5px solid firebrick; }

button {
  display: block;
  border: 5px solid #FFAA3C;
  background: #FFAA3C;
  color: #011627; }
  button:hover, button:focus {
    border: 5px solid #011627;
    background-color: #011627;
    color: #EEE; }
  button:active {
    border: 5px solid firebrick; }

header {
  background-image: url(../assets/headerPic.jpg);
  background-size: cover;
  background-repeat: no-repeat; }
  header .innerWrapper {
    width: 50%; }
    @media (max-width: 970px) {
      header .innerWrapper {
        width: 60%; } }
    @media (max-width: 895px) {
      header .innerWrapper {
        width: 80%; } }
    @media (max-width: 440px) {
      header .innerWrapper {
        width: 100%; } }
  header .wrapper {
    height: 100vh; }

h1 {
  margin: 0 auto;
  padding-top: 60px;
  font-family: "Righteous", cursive;
  text-transform: uppercase;
  color: #064A6F;
  font-size: 4rem;
  line-height: 1; }
  @media (max-width: 1084px) {
    h1 {
      font-size: 3.5rem; } }
  @media (max-width: 895px) {
    h1 {
      font-size: 3rem; } }
  @media (max-width: 440px) {
    h1 {
      text-align: center;
      font-size: 2.2rem; } }

header h2 {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 2rem; }
  @media (max-width: 1084px) {
    header h2 {
      margin-bottom: 0;
      line-height: 1.2; } }
  @media (max-width: 895px) {
    header h2 {
      font-size: 1.6rem; } }
  @media (max-width: 440px) {
    header h2 {
      text-align: center;
      font-size: 1.2rem; } }

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  form input[type=number] {
    background: #064A6F;
    border: 5px solid #064A6F;
    padding: 5px 0 5px;
    width: 160px;
    color: #EEE;
    text-align: center; }
    form input[type=number]::-webkit-input-placeholder {
      color: #EEE;
      letter-spacing: 3px; }
    form input[type=number]:-ms-input-placeholder {
      color: #EEE;
      letter-spacing: 3px; }
    form input[type=number]::-ms-input-placeholder {
      color: #EEE;
      letter-spacing: 3px; }
    form input[type=number]::placeholder {
      color: #EEE;
      letter-spacing: 3px; }
    form input[type=number]:focus {
      border: 5px solid firebrick; }
    form input[type=number]:active {
      background-color: #011627; }
    @media (max-width: 440px) {
      form input[type=number] {
        width: 85%; } }
  form label {
    font-size: 1.5rem; }
  form input[type=submit] {
    margin-top: 10px; }
    @media (max-width: 440px) {
      form input[type=submit] {
        width: 85%;
        margin: 10px auto; } }

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type="number"] {
  -moz-appearance: textfield; }

@media (max-width: 440px) {
  .formTop,
  .formBottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 85%; } }

.warning {
  position: relative;
  background: #011627;
  color: #EEE;
  border-radius: .4em;
  padding: 5px;
  margin-bottom: 0; }

.warning:after {
  content: '';
  position: absolute;
  top: 2px;
  left: 65%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-bottom-color: #011627;
  border-top: 0;
  margin-left: -20px;
  margin-top: -20px; }

main {
  padding: 5px 0 10px;
  background-color: #064A6F;
  height: calc(100vh - 30px); }
  @media (max-width: 970px) {
    main {
      height: auto; } }
  main h2 {
    margin: 0 0 7px;
    text-align: center;
    color: #FFAA3C;
    font-size: 2.4rem;
    line-height: 2.4rem;
    text-transform: uppercase; }
    @media (max-width: 970px) {
      main h2 {
        font-size: 2.0rem; } }
    @media (max-width: 440px) {
      main h2 {
        font-size: 1.4rem; } }

.movieContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 895px) {
    .movieContainer {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.poster {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  max-width: 90%; }
  @media (max-width: 440px) {
    .poster {
      width: 95%; } }
  @media (max-width: 440px) {
    .poster img {
      width: 100%; } }

.movieInfo {
  background: -webkit-gradient(linear, right top, left top, from(rgba(238, 238, 238, 0.3)), to(rgba(238, 238, 238, 0.3)));
  background: -webkit-linear-gradient(right, rgba(238, 238, 238, 0.3), rgba(238, 238, 238, 0.3));
  background: -o-linear-gradient(right, rgba(238, 238, 238, 0.3), rgba(238, 238, 238, 0.3));
  background: linear-gradient(to left, rgba(238, 238, 238, 0.3), rgba(238, 238, 238, 0.3));
  padding: 20px 35px;
  margin-bottom: 5px; }
  @media (max-width: 895px) {
    .movieInfo {
      width: 75%; } }
  @media (max-width: 440px) {
    .movieInfo {
      width: 95%;
      padding: 10px 15px; } }
  .movieInfo h3 {
    margin: 0 0 20px;
    font-size: 2.2rem;
    line-height: 2rem; }
    @media (max-width: 970px) {
      .movieInfo h3 {
        font-size: 1.6rem; } }
  .movieInfo p {
    margin: 0; }
  @media (max-width: 970px) {
    .movieInfo .voteCount,
    .movieInfo .voteAverage {
      font-size: 1rem; } }
  .movieInfo .voteAverage {
    margin-bottom: 20px; }
  .movieInfo .overview {
    margin-bottom: 10px;
    font-weight: 600; }

button {
  margin: 7px auto 0; }

footer {
  background-color: #011627;
  color: #EEE;
  height: 30px;
  text-align: center;
  padding: 5px 0; }
  @media (max-width: 895px) {
    footer {
      height: auto; } }
  footer .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    @media (max-width: 895px) {
      footer .wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; } }
  footer p {
    margin: 0;
    font-size: 1rem;
    color: #bbbbbb; }
    @media (max-width: 895px) {
      footer p {
        font-size: 0.8rem;
        font-weight: 400; } }
